torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
numpy==1.26.4
pandas==2.2.2
peft<=0.9.0
scipy==1.13.0
transformers==4.40.0
sentence-transformers==2.7.0
tokenizers==0.19.1
FlagEmbedding==1.2.11
chromadb==0.4.24
hnswlib==0.8.0
pysqlite3-binary==0.5.2
langchain==0.1.20
langchain-core==0.1.52
langchain-community==0.0.38
langchain-text-splitters==0.0.1
ragas==0.1.9
datasets==2.19.0
beautifulsoup4==4.12.3
requests==2.31.0
lxml==5.2.1
pydantic==2.7.1
pydantic-core==2.18.2
PyYAML==6.0.1
python-dotenv==1.0.1
tqdm==4.66.2
loguru==0.7.2
typing-extensions==4.11.0
huggingface-hub==0.22.2
safetensors==0.4.3
accelerate==1.11.0
hf_transfer
openai>=1.40.0
